<app-header-front></app-header-front>
<br>
<br>

<br>
<br>
<br>


<div class="forum-header p-mb-3 p-p-3 p-d-flex p-jc-between p-ai-center p-shadow-2">
    <div class="forum-header-title">
        <h1>Threads</h1>
    </div>
    <button pButton label="Add thread" icon="pi pi-plus" class="p-button-success" (click)="addThread()"></button>
</div>

<div class="col-12 p-p-0">
    <div class="card p-shadow-3">
        <p-table #dt2 [value]="threads" dataKey="id" [rows]="5" [loading]="loading" [rowHover]="true" styleClass="p-datatable-gridlines" [paginator]="true" [responsiveLayout]="'scroll'">
            <ng-template pTemplate="header">
                <tr>
                    <th>Author</th>
                    <th>Thread</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-thread>
                <tr class="p-cursor-pointer" (click)="getThreadPosts(thread.id)">
                    <td>
                        <img [src]="'data:image/jpeg;base64,' + thread?.author.profileImage" width="32" height="32" style="vertical-align: middle; border-radius: 50%;" class="p-mr-2"/>
                        {{thread.author.firstName}} {{thread.author.lastName}}
                    </td>
                    <td >{{thread.title}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

<p-dialog header="Add Thread" [(visible)]="displayModal" [style]="{width: '400px', 'max-width': '100%'}" [closable]="true" class="p-fluid">
    <form [formGroup]="threadForm" (ngSubmit)="onSave()">
        <div class="p-field p-grid">
            <label for="title" class="p-col-12 p-md-4">Thread Title</label>
            <div class="p-col-12 p-md-8">
                <input id="title" pInputText formControlName="title" required>
            </div>
        </div>


        <p-footer>
            <div class="p-d-flex p-jc-end">
                <button type="button" pButton label="Cancel" icon="pi pi-times" class="p-button-text p-mr-2" (click)="displayModal = false"></button>
                <button type="submit" pButton label="Save" icon="pi pi-check" [disabled]="threadForm.invalid"></button>
            </div>
        </p-footer>
    </form>
</p-dialog>
