<style>
    .loader {
        width: 84px;
        height: 84px;
        position: relative;
    }
    .loader:before , .loader:after {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        width:84px;
        height: 84px;
        border-radius: 50%;
        background:#FF3D00;
        animation: push 1s infinite linear alternate;
    }
    .loader:after {
        top: auto;
        bottom: 0;
        left: 0;
        background: #fff;
        animation-direction: alternate-reverse;
    }
    @keyframes push {
        0% {
            width:14px;
            height: 14px;
        }
        100% {
            width:84px;
            height: 84px;
        }
    }
</style>
<div *ngIf="!accessToken" class="loader"></div>


<div *ngIf="accessToken" class="grid">
    <div class="col-12 lg:col-6 xl:col-6">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">Customers</span>
                    <div class="text-900 font-medium text-xl">{{userCount}} Customers</div>
                </div>
                <div class="flex align-items-center justify-content-center bg-cyan-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="pi pi-user text-cyan-500 text-xl"></i>
                </div>
            </div>
            <span class="text-green-500 font-medium">{{userCountActive}}  </span>
            <span class="text-500">Active</span>
        </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-6">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">Reclamations</span>
                    <div class="text-900 font-medium text-xl">{{reclamationCount}}</div>
                </div>
                <div class="flex align-items-center justify-content-center bg-purple-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="pi pi-flag-fill text-purple-500 text-xl"></i>
                </div>
            </div>
            <span class="text-green-500 font-medium">{{reclamationCountResolved}} </span>
            <span class="text-500">responded</span>
        </div>
    </div>

    <div class="col-12 xl:col-6">
        <div class="card">
            <h5>Recent Reclamations</h5>
            <p-table [value]="reclamations" [paginator]="true" [rows]="3" responsiveLayout="scroll">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Image</th>
                        <th pSortableColumn="status">Status <p-sortIcon field="status"></p-sortIcon></th>
                        <th pSortableColumn="result">Result <p-sortIcon field="result"></p-sortIcon></th>
                        <th>View</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-reclamation>
                    <tr>
                        <td style="width: 35%; min-width: 5rem;">
                            <img *ngIf="reclamation?.screenshot" [src]="'data:image/jpeg;base64,' + reclamation?.screenshot" class="shadow-4"  width="50">
                            <p-tag *ngIf="!reclamation?.screenshot" icon="pi pi-info-circle" severity="info" value="Not Available"></p-tag>

                        </td>
                        <td style="width: 35%; min-width: 7rem;" ><span [class.customer-badge]="true" [class.status-qualified]="reclamation.status === 'Not Urgent'" [class.status-unqualified]="reclamation.status === 'Urgent'">
                             {{reclamation.status}}
                        </span></td>
                        <td style="width: 35%; min-width: 8rem;"><span [class.customer-badge]="true" [class.status-qualified]="reclamation.result === 'resolved'" [class.status-unqualified]="reclamation.result === 'Not resolved'">
                             {{reclamation.result}}
                        </span></td>
                        <td style="width: 15%;">
                            <button pButton pRipple type="button" icon="pi pi-search" class="p-button p-component p-button-text p-button-icon-only" (click)="viewReclamation(reclamation.id)"></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>

    <div class="col-12 xl:col-6">

        <div class="card">
            <div class="flex align-items-center justify-content-between mb-4">
                <h5>Notifications</h5>

            </div>

            <span class="block text-600 font-medium mb-3">TODAY</span>
            <ul class="p-0 mx-0 mt-0 mb-4 list-none">
                <li *ngFor="let notification of allNotifications" class="flex align-items-center py-2 border-bottom-1 surface-border">
                    <div class="w-3rem h-3rem flex align-items-center justify-content-center bg-blue-100 border-circle mr-3 flex-shrink-0">
                        <i class="pi pi-bell text-xl text-blue-500"></i>
                    </div>
                    <span class="text-900 line-height-3">{{notification.sender}}
                        <span class="text-700"> {{notification.message}}<img src="assets/demo/images/landing/new-badge.svg" class="ml-2"/></span>
        </span>
                </li>
            </ul>


        </div>

    </div>
</div>

