.container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    margin-top:20px;
}

.title {
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 0.5em;
    color: #333;
}

.subtitle {
    font-size: 1.2em;
    color: #666;
    margin-bottom: 2em;
}

.forum-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.forum-card {
    width: 250px;
    height:250px;
    background: #fff;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    text-align: center;
    padding: 20px;
    border: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
}

.forum-card.selected {
    border: 2px solid #007ad9;
    transform: scale(1.05);
}

.forum-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.forum-image-container {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto 1em;
}

.forum-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.select-button {
    background: #007ad9;
    color: #fff;
    border-color: #007ad9;
    width: 100%;
    margin-top: 20px;
}

.select-button[disabled] {
    background: #ddd;
    color: #999;
    border-color: #ddd;
}

.continue-button {
    margin-top:20px;
    width: 200px;
    background: #007ad9;
    border-color: #007ad9;
}

.continue-button[disabled] {
    background: #ddd;
    border-color: #ddd;
    color: #999;
}
