<app-header-front></app-header-front>
<div class="container p-m-4">
    <h1 class="title p-text-center">Select Category</h1>
    <p class="subtitle p-text-center">Select the category where you want to add these records.</p>

    <div class="forum-list p-d-flex p-jc-center p-ai-center p-flex-wrap">
        <div *ngFor="let forum of filteredForums" class="forum-card p-shadow-2 p-m-2 p-p-3 p-d-flex p-flex-column p-ai-center" [ngClass]="{'selected': selectedForum?.id === forum.id}" (click)="selectForum(forum)">
            <div class="forum-image-container p-mb-3">
                <img src="https://cdn-icons-png.freepik.com/512/8428/8428362.png" class="forum-image" alt="{{ forum.name }}">
            </div>
            <h3 class="p-text-center p-m-0">{{ forum.name }}</h3>
            <button pButton label="Select" class="p-button-outlined p-mt-3 select-button" [disabled]="selectedForum?.id === forum.id"></button>
        </div>
    </div>
    <div class="p-d-flex p-jc-center p-mt-4">
        <button pButton label="Continue" class="p-button-primary continue-button" [disabled]="!selectedForum" (click)="continue()"></button>
    </div>
</div>
